# Snowflake connection credentials
# Copy this file to .env and fill in your values
SNOWFLAKE_ACCOUNT=ETUFWEP-MCB24323
SNOWFLAKE_USER=ACTESTUSER
SNOWFLAKE_PASSWORD=Cloudlabs@12345
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=INVOICE_MGMT
SNOWFLAKE_SCHEMA=PUBLIC
